## Importing and exporting data in Pandas

In [9]:
import pandas as pd

## Subsetting and Filtering DataFrames

In [11]:
animals = pd.read_csv('sleepinmammals.csv')

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation
0,Africanelephant,6654.00,5712.0,NaN,NaN,3.3,38.6,645.0
1,Africangiantpouchedrat,1.00,6.6,6.3,2.0,8.3,4.5,42.0
2,ArcticFox,3385.00,44.5,NaN,NaN,12.5,14.0,60.0
3,Arcticgroundsquirrel,0.92,5.7,NaN,NaN,16.5,NaN,25.0
4,Asianelephant,2547.00,4603.0,2.1,1.8,3.9,69.0,624.0
...,...,...,...,...,...,...,...,...
57,Treehyrax,2.00,12.3,4.9,0.5,5.4,7.5,200.0
58,Treeshrew,104.00,2.5,13.2,2.6,15.8,2.3,46.0
59,Vervet,4.19,58.0,9.7,0.6,10.3,24.0,210.0
60,Wateropossum,3.50,3.9,12.8,6.6,19.4,3.0,14.0
61,Yellow-belliedmarmot,4.05,17.0,NaN,NaN,NaN,13.0,38.0

Inspecting the dataframe

In [14]:
animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 8 columns):
Species        62 non-null object
BodyWt         62 non-null float64
BrainWt        62 non-null float64
NonDreaming    48 non-null float64
Dreaming       50 non-null float64
TotalSleep     58 non-null float64
LifeSpan       58 non-null float64
Gestation      58 non-null float64
dtypes: float64(7), object(1)
memory usage: 4.0+ KB

Getting all the column names of the df

In [17]:
animals.columns

Index(['Species', 'BodyWt', 'BrainWt', 'NonDreaming', 'Dreaming', 'TotalSleep',
       'LifeSpan', 'Gestation'],
      dtype='object')

Selecting column Bodywt

In [20]:
animals['BodyWt']

0     6654.00
1        1.00
2     3385.00
3        0.92
4     2547.00
       ...
57       2.00
58     104.00
59       4.19
60       3.50
61       4.05
Name: BodyWt, Length: 62, dtype: float64

Extracting row 11 - 20

In [21]:
animals[11:21]

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation
11,Cow,465.00,423.0,3.2,0.7,3.9,30.0,281.0
12,Deserthedgehog,0.55,2.4,7.6,2.7,10.3,NaN,NaN
13,Donkey,187.10,419.0,NaN,NaN,3.1,40.0,365.0
14,EasternAmericanmole,75.00,1.2,6.3,2.1,8.4,3.5,42.0
15,Echidna,3.00,25.0,8.6,0.0,8.6,50.0,28.0
16,Europeanhedgehog,785.00,3.5,6.6,4.1,10.7,6.0,42.0
17,Galago,0.20,5.0,9.5,1.2,10.7,10.4,120.0
18,Genet,1.41,17.5,4.8,1.3,6.1,34.0,NaN
19,Giantarmadillo,60.00,81.0,12.0,6.1,18.1,7.0,NaN
20,Giraffe,529.00,680.0,NaN,0.3,NaN,28.0,400.0

Extracting rows 11 - 20 for the first 3 columns

In [25]:
animals.iloc[11:21, 0:3]

                Species  BodyWt  BrainWt
11                  Cow  465.00    423.0
12       Deserthedgehog    0.55      2.4
13               Donkey  187.10    419.0
14  EasternAmericanmole   75.00      1.2
15              Echidna    3.00     25.0
16     Europeanhedgehog  785.00      3.5
17               Galago    0.20      5.0
18                Genet    1.41     17.5
19       Giantarmadillo   60.00     81.0
20              Giraffe  529.00    680.0

Extracting rows 11 - 20 for columns Species to Brainweight

In [38]:
animals.loc[11:20, 'BodyWt':'Dreaming']

    BodyWt  BrainWt  NonDreaming  Dreaming
11  465.00    423.0          3.2       0.7
12    0.55      2.4          7.6       2.7
13  187.10    419.0          NaN       NaN
14   75.00      1.2          6.3       2.1
15    3.00     25.0          8.6       0.0
16  785.00      3.5          6.6       4.1
17    0.20      5.0          9.5       1.2
18    1.41     17.5          4.8       1.3
19   60.00     81.0         12.0       6.1
20  529.00    680.0          NaN       0.3

Getting all the rows where BrainWt < 2

In [45]:
animals[animals['BrainWt'] < 10]

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation
1,Africangiantpouchedrat,1.00,6.60,6.3,2.0,8.3,4.5,42.0
3,Arcticgroundsquirrel,0.92,5.70,NaN,NaN,16.5,NaN,25.0
6,Bigbrownbat,23.00,0.30,15.8,3.9,19.7,19.0,35.0
10,Chinchilla,425.00,6.40,11.0,1.5,12.5,7.0,112.0
12,Deserthedgehog,0.55,2.40,7.6,2.7,10.3,NaN,NaN
14,EasternAmericanmole,75.00,1.20,6.3,2.1,8.4,3.5,42.0
16,Europeanhedgehog,785.00,3.50,6.6,4.1,10.7,6.0,42.0
17,Galago,0.20,5.00,9.5,1.2,10.7,10.4,120.0
22,Goldenhamster,0.12,1.00,11.0,3.4,14.4,3.9,16.0
26,Groundsquirrel,101.00,4.00,10.4,3.4,13.8,9.0,28.0
27,Guineapig,1.04,5.50,7.4,0.8,8.2,7.6,68.0
31,Lessershort-tailedshrew,5.00,0.14,7.7,1.4,9.1,2.6,21.5
32,Littlebrownbat,0.01,0.25,17.9,2.0,19.9,24.0,50.0
34,Molerat,122.00,3.00,8.2,2.4,10.6,NaN,30.0
35,Mountainbeaver,1.35,8.10,8.4,2.8,11.2,NaN,45.0
36,Mouse,23.00,0.40,11.9,1.3,13.2,3.2,19.0
37,Muskshrew,48.00,0.33,10.8,2.0,12.8,2.0,30.0
38,NAmericanopossum,1.70,6.30,13.8,5.6,19.4,5.0,12.0
47,Rat,0.28,1.90,10.6,2.6,13.2,4.7,21.0
55,Starnosedmole,0.06,1.00,8.1,2.2,10.3,3.5,NaN
56,Tenrec,0.90,2.60,11.0,2.3,13.3,4.5,60.0
58,Treeshrew,104.00,2.50,13.2,2.6,15.8,2.3,46.0
60,Wateropossum,3.50,3.90,12.8,6.6,19.4,3.0,14.0

In [46]:
animals['BrainWt'] < 10

0     False
1      True
2     False
3      True
4     False
      ...
57    False
58     True
59    False
60     True
61    False
Name: BrainWt, Length: 62, dtype: bool

Getting the names of Species where BodyWt > 5 and BrainWt < 5