## Manipulating Dataframes in Pandas

In [23]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv('vehicles.csv')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [25]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

#### Renaming columns

In [46]:
df = df.rename(columns={'Make':'Manufacturer'})

In [ ]:
df.head()

In [49]:
df.rename(columns={'Make':'Manufacturer'}, inplace = True)

In [ ]:
df.head()

In [ ]:
df.rename(columns={'Make':'Manufacturer', 'Engine Displacement': 'Displacement'}, inplace = True)

In [ ]:
df['Manufacturer'].head()

#### Dropping columns

In [43]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [36]:
df = df.drop('Fuel Cost/Year', axis = 1)

In [40]:
df = df.drop(['Highway MPG', 'City MPG'], axis = 1)

In [38]:
del df['Year']

In [44]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

#### Filtering Data

In [53]:
df_ford = df[df['Manufacturer']=='Ford']
df_ford.head()

In [ ]:
df_ford_1986 = df[(df['Manufacturer'] == 'Ford') & (df['Year'] == 1986)]

df_ford_1986.head()

In [ ]:
df.describe()

#### Calculations on Dataframes

In [ ]:
df['hello'] = 'hello'
df.head()

In [ ]:
df['Age'] = 2020 - df['Year']

In [ ]:
df['y2020'] = df['Age'] + df['Year']
df.head()

#### Applying Functions to Columns

In [56]:
df.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [59]:
df.sum()

Manufacturer               AM GeneralAM GeneralAM GeneralAM GeneralASC In...
Model                      DJ Po Vehicle 2WDFJ8c Post OfficePost Office D...
Year                                                                71929756
Engine Displacement                                                   120026
Cylinders                                                             207266
Transmission               Automatic 3-spdAutomatic 3-spdAutomatic 3-spdA...
Drivetrain                 2-Wheel Drive2-Wheel DriveRear-Wheel DriveRear...
Vehicle Class              Special Purpose Vehicle 2WDSpecial Purpose Veh...
Fuel Type                  RegularRegularRegularRegularPremiumRegularRegu...
Fuel Barrels/Year                                                     633081
City MPG                                                              634414
Highway MPG                                                           858557
Combined MPG                                                          716499
CO2 Emission Grams/Mile                                          1.70886e+07
Fuel Cost/Year                                                      68042700
dtype: object

In [55]:
df.sum(axis = 1)

0        4534.653529
1        5292.170000
2        4716.538125
3        5293.170000
4        5173.838125
            ...
35947    3478.155833
35948    3478.155833
35949    3480.155833
35950    3484.055833
35951    3540.317429
Length: 35952, dtype: float64

In [66]:
df[['Year', 'City MPG']].sum()

Year        71929756
City MPG      634414
dtype: int64

In [73]:
columns_to_compute = ['Year', 'City MPG']
df[columns_to_compute].sum()

Year        71929756
City MPG      634414
dtype: int64

In [75]:
df[['Year', 'City MPG']].max()

Year        2017
City MPG      58
dtype: int64

In [80]:
df = df.sort_values(by = 'Year')

df.sort_values(by = 'Year', inplace = True, ascending = False)

In [79]:
df.sort_values?

In [81]:
df.sort_values(by = ['Year', 'City MPG'])

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
9068,Dodge,B350 Wagon 2WD,1984,5.9,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Passenger Type",Regular,36.623333,8,10,9,987.444444,3700
11936,Ford,E250 Econoline 2WD,1984,5.8,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Cargo Type",Regular,36.623333,9,10,9,987.444444,3700
11807,Ford,E150 Club Wagon 2WD,1984,5.8,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Passenger Type",Regular,36.623333,9,10,9,987.444444,3700
10916,Dodge,W100/W150 Pickup 4WD,1984,5.9,8.0,Automatic 3-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,32.961000,9,12,10,888.700000,3350
8909,Dodge,B150/B250 Wagon 2WD,1984,5.9,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Passenger Type",Regular,32.961000,9,11,10,888.700000,3350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13412,Ford,Fusion Energi Plug-in Hybrid,2017,2.0,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular Gas and Electricity,4.184202,43,41,42,112.000000,800
6497,Chevrolet,Malibu Hybrid,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,7.165435,49,43,46,194.000000,700
17058,Honda,Accord Hybrid,2017,2.0,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,6.866875,49,47,48,183.000000,700
33278,Toyota,Prius,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,6.338654,54,50,52,171.000000,650
33280,Toyota,Prius Eco,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,5.885893,58,53,56,158.000000,600

In [85]:
df.nlargest(3, 'Year')

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
20450,Kia,Forte 5,2017,1.6,4.0,Manual 6-spd,Front-Wheel Drive,Large Cars,Regular,13.184400,23,29,25,353.0,1350
21680,Lincoln,MKZ AWD,2017,3.0,6.0,Automatic (S6),All-Wheel Drive,Midsize Cars,Regular,16.480500,17,26,20,447.0,1650
18122,Hyundai,Santa Fe Ultimate AWD,2017,3.3,6.0,Automatic (S6),All-Wheel Drive,Small Sport Utility Vehicle 4WD,Regular,17.347895,17,22,19,475.0,1750

In [88]:
largest_three = df.nlargest(3, ['Year', 'City MPG'])

      Manufacturer          Model  Year  Engine Displacement  Cylinders  \
33280       Toyota      Prius Eco  2017                  1.8        4.0
33278       Toyota          Prius  2017                  1.8        4.0
6497     Chevrolet  Malibu Hybrid  2017                  1.8        4.0

                           Transmission         Drivetrain Vehicle Class  \
33280  Automatic (variable gear ratios)  Front-Wheel Drive  Midsize Cars
33278  Automatic (variable gear ratios)  Front-Wheel Drive  Midsize Cars
6497   Automatic (variable gear ratios)  Front-Wheel Drive  Midsize Cars

      Fuel Type  Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  \
33280   Regular           5.885893        58           53            56
33278   Regular           6.338654        54           50            52
6497    Regular           7.165435        49           43            46

       CO2 Emission Grams/Mile  Fuel Cost/Year
33280                    158.0             600
33278                    171.0             650
6497                     194.0             700

#### Using df.apply

In [91]:
df['Manufacturer'].str.upper()

20450           KIA
21680       LINCOLN
18122       HYUNDAI
11309       FERRARI
29265       PORSCHE
            ...
13777          FORD
31003        SUBARU
31002        SUBARU
26752        NISSAN
0        AM GENERAL
Name: Manufacturer, Length: 35952, dtype: object

In [96]:
df['Manufacturer'].apply(lambda x: x.replace('e', 'b'))

20450           Kia
21680       Lincoln
18122       Hyundai
11309       Fbrrari
29265       Porschb
            ...
13777          Ford
31003        Subaru
31002        Subaru
26752        Nissan
0        AM Gbnbral
Name: Manufacturer, Length: 35952, dtype: object

In [126]:
#df['Manufacturer'].apply(str.upper)
df['Manufacturer'].apply(lambda x: x.upper())

20450           KIA
21680       LINCOLN
18122       HYUNDAI
11309       FERRARI
29265       PORSCHE
            ...
13777          FORD
31003        SUBARU
31002        SUBARU
26752        NISSAN
0        AM GENERAL
Name: Manufacturer, Length: 35952, dtype: object

In [118]:
subset = df[['Manufacturer', 'Vehicle Class']]
for i in range(len(subset.columns)):
    print(df[subset.columns[i]].apply(lambda x: x.replace('e', 'b')))

20450           Kia
21680       Lincoln
18122       Hyundai
11309       Fbrrari
29265       Porschb
            ...
13777          Ford
31003        Subaru
31002        Subaru
26752        Nissan
0        AM Gbnbral
Name: Manufacturer, Length: 35952, dtype: object
20450                         Largb Cars
21680                       Midsizb Cars
18122    Small Sport Utility Vbhiclb 4WD
11309                   Minicompact Cars
29265                   Minicompact Cars
                      ...
13777            Small Pickup Trucks 2WD
31003        Spbcial Purposb Vbhiclb 4WD
31002        Spbcial Purposb Vbhiclb 4WD
26752            Small Pickup Trucks 2WD
0            Spbcial Purposb Vbhiclb 2WD
Name: Vehicle Class, Length: 35952, dtype: object

#### Dataframe Aggregation using groupby

In [127]:
df.mean()

Year                       2000.716400
Engine Displacement           3.338493
Cylinders                     5.765076
Fuel Barrels/Year            17.609056
City MPG                     17.646139
Highway MPG                  23.880646
Combined MPG                 19.929322
CO2 Emission Grams/Mile     475.316339
Fuel Cost/Year             1892.598465
dtype: float64

In [133]:
df.groupby(['Fuel Type', 'Manufacturer']).mean()

                                                 Year  Engine Displacement  \
Fuel Type                   Manufacturer
CNG                         Chevrolet     2004.400000             6.000000
                            Dodge         1998.875000             4.487500
                            Ford          2000.368421             5.063158
                            GMC           2004.500000             6.000000
                            Honda         2006.500000             1.738889
...                                               ...                  ...
Regular Gas and Electricity Ford          2014.777778             2.000000
                            Honda         2014.000000             2.000000
                            Hyundai       2016.500000             2.000000
                            Toyota        2013.500000             1.800000
Regular Gas or Electricity  Chevrolet     2016.500000             1.500000

                                          Cylinders  Fuel Barrels/Year  \
Fuel Type                   Manufacturer
CNG                         Chevrolet          8.00           0.181867
                            Dodge              7.25           0.133433
                            Ford               8.00           0.138454
                            GMC                8.00           0.180833
                            Honda              4.00           0.065410
...                                             ...                ...
Regular Gas and Electricity Ford               4.00           4.801412
                            Honda              4.00           4.827657
                            Hyundai            4.00           3.858080
                            Toyota             4.00           4.739011
Regular Gas or Electricity  Chevrolet          4.00           2.006844

                                           City MPG  Highway MPG  \
Fuel Type                   Manufacturer
CNG                         Chevrolet      9.400000    12.600000
                            Dodge         12.625000    17.250000
                            Ford          11.894737    16.842105
                            GMC            9.500000    13.000000
                            Honda         25.222222    34.222222
...                                             ...          ...
Regular Gas and Electricity Ford          40.333333    36.555556
                            Honda         47.000000    46.000000
                            Hyundai       38.000000    40.500000
                            Toyota        51.000000    49.000000
Regular Gas or Electricity  Chevrolet     43.000000    42.000000

                                          Combined MPG  \
Fuel Type                   Manufacturer
CNG                         Chevrolet        10.400000
                            Dodge            14.250000
                            Ford             13.736842
                            GMC              10.500000
                            Honda            28.500000
...                                                ...
Regular Gas and Electricity Ford             38.444444
                            Honda            46.000000
                            Hyundai          39.500000
                            Toyota           50.000000
Regular Gas or Electricity  Chevrolet        42.000000

                                          CO2 Emission Grams/Mile  \
Fuel Type                   Manufacturer
CNG                         Chevrolet                  693.198000
                            Dodge                      508.590547
                            Ford                       527.726359
                            GMC                        689.259375
                            Honda                      247.532772
...                                                           ...
Regular Gas and Electricity Ford                       127.111111
                            Honda                      130.000000
                            Hyundai                    102.500000
                            Toyota                     133.000000
Regular Gas or Electricity  Chevrolet                   51.000000

                                          Fuel Cost/Year
Fuel Type                   Manufacturer
CNG                         Chevrolet        2950.000000
                            Dodge            2181.250000
                            Ford             2252.631579
                            GMC              2925.000000
                            Honda            1077.777778
...                                                  ...
Regular Gas and Electricity Ford              888.888889
                            Honda             700.000000
                            Hyundai           850.000000
                            Toyota            650.000000
Regular Gas or Electricity  Chevrolet         800.000000

[265 rows x 9 columns]

In [135]:
df.groupby(['Fuel Type'])['Cylinders', 'City MPG'].mean()

                             Cylinders   City MPG
Fuel Type
CNG                           6.500000  15.966667
Diesel                        6.225027  21.173436
Gasoline or E85               6.974059  15.347280
Gasoline or natural gas       6.800000  13.700000
Gasoline or propane           8.000000  12.000000
Midgrade                      7.864865  14.851351
Premium                       6.365286  16.793166
Premium Gas or Electricity    4.235294  30.705882
Premium and Electricity       4.850000  24.900000
Premium or E85                6.892562  17.305785
Regular                       5.420952  17.970195
Regular Gas and Electricity   4.000000  43.125000
Regular Gas or Electricity    4.000000  43.000000

In [137]:
df.groupby(['Fuel Type'])['Cylinders', 'City MPG'].agg(['mean', 'max', 'min'])

                            Cylinders              City MPG
                                 mean   max  min       mean max min
Fuel Type
CNG                          6.500000   8.0  4.0  15.966667  27   8
Diesel                       6.225027  10.0  4.0  21.173436  38  13
Gasoline or E85              6.974059   8.0  4.0  15.347280  28  10
Gasoline or natural gas      6.800000   8.0  4.0  13.700000  21  10
Gasoline or propane          8.000000   8.0  8.0  12.000000  13  11
Midgrade                     7.864865   8.0  6.0  14.851351  21  13
Premium                      6.365286  16.0  2.0  16.793166  42   6
Premium Gas or Electricity   4.235294   8.0  2.0  30.705882  41  20
Premium and Electricity      4.850000   8.0  3.0  24.900000  37  16
Premium or E85               6.892562  12.0  4.0  17.305785  24  11
Regular                      5.420952  12.0  2.0  17.970195  58   7
Regular Gas and Electricity  4.000000   4.0  4.0  43.125000  51  38
Regular Gas or Electricity   4.000000   4.0  4.0  43.000000  43  43

In [141]:
grouped1 = df.groupby(['Fuel Type'])['Cylinders', 'City MPG'].mean()
grouped2 = df.groupby(['Fuel Type'])['Cylinders', 'City MPG'].mean().reset_index()

In [142]:
print(grouped1)
print(grouped2)

                             Cylinders   City MPG
Fuel Type
CNG                           6.500000  15.966667
Diesel                        6.225027  21.173436
Gasoline or E85               6.974059  15.347280
Gasoline or natural gas       6.800000  13.700000
Gasoline or propane           8.000000  12.000000
Midgrade                      7.864865  14.851351
Premium                       6.365286  16.793166
Premium Gas or Electricity    4.235294  30.705882
Premium and Electricity       4.850000  24.900000
Premium or E85                6.892562  17.305785
Regular                       5.420952  17.970195
Regular Gas and Electricity   4.000000  43.125000
Regular Gas or Electricity    4.000000  43.000000
                      Fuel Type  Cylinders   City MPG
0                           CNG   6.500000  15.966667
1                        Diesel   6.225027  21.173436
2               Gasoline or E85   6.974059  15.347280
3       Gasoline or natural gas   6.800000  13.700000
4           Gasoline or propane   8.000000  12.000000
5                      Midgrade   7.864865  14.851351
6                       Premium   6.365286  16.793166
7    Premium Gas or Electricity   4.235294  30.705882
8       Premium and Electricity   4.850000  24.900000
9                Premium or E85   6.892562  17.305785
10                      Regular   5.420952  17.970195
11  Regular Gas and Electricity   4.000000  43.125000
12   Regular Gas or Electricity   4.000000  43.000000

In [149]:
grouped1['Cylinders']

Fuel Type
CNG                            6.500000
Diesel                         6.225027
Gasoline or E85                6.974059
Gasoline or natural gas        6.800000
Gasoline or propane            8.000000
Midgrade                       7.864865
Premium                        6.365286
Premium Gas or Electricity     4.235294
Premium and Electricity        4.850000
Premium or E85                 6.892562
Regular                        5.420952
Regular Gas and Electricity    4.000000
Regular Gas or Electricity     4.000000
Name: Cylinders, dtype: float64